<!DOCTYPE html>
<html>
<head>
<title>Iris Flower Prediction</title>

<style>

body{
font-family: Arial;
background:#f0f0f0;
text-align:center;
margin-top:60px;
}

.container{
background:white;
width:400px;
margin:auto;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:green;
color:white;
border:none;
border-radius:5px;
font-size:16px;
}

</style>

</head>

<body>

<div class="container">

<h2>Iris Flower Predictor</h2>

<form action="/predict" method="post">

<input type="text" name="sepal_length" placeholder="Sepal Length" required>

<input type="text" name="sepal_width" placeholder="Sepal Width" required>

<input type="text" name="petal_length" placeholder="Petal Length" required>

<input type="text" name="petal_width" placeholder="Petal Width" required>

<br>

<button type="submit">Predict</button>

</form>

<h3>{{ prediction_text }}</h3>

</div>

</body>
</html>